body {
  margin: 0;
  // https://fonts.google.com/specimen/EB+Garamond?query=EB+Garamond
  font-family: 'EB Garamond',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}